*{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 100%;
	margin: 0px auto;
}


.top-left{
	float: left;
	width: 20%;
	height: 140px;
	background-color: #f0f0f7;
	text-align: center;
	
}
.top-left a{
	padding: 10px;
	display: inline-block;
	margin-left: 25px;
	margin-top: 20px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	background: red;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	transition: .5s;


}
.top-left a:hover{
	background: green;
	margin left: 25px;
	padding: 10px;
	color: yellow;
	margin-top: 20px;
	border-radius: 0px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;

}

.top-right {
	float: left;
	width: 79.2%;
	height: 140px;
	background-color: #f0f0f7;
	padding-left: 10px;
	
	
}
nav{
	width: 98%;
	background: gray;
	text-align: center;
	padding: 5px;
	margin-left: 5px;
	margin: 10px;
	overflow: hidden;
	transition: .4s;
}
nav ul{
	list-style: none;
}

nav ul li{
	display: inline-block;
	margin-top: 10px;
	margin-left: 25px;
	padding: 5px 5px;
	color: #fff;
	font-weight: bold;
	border-radius: 30px;
	
}

nav ul li a{
	display: inline-block;
	padding: 5px 5px;
	text-decoration:none;
	color: #fff;
}

nav ul li ul{
	background: red;
	position: absolute;
	height: 0px;
	overflow: hidden;
	transition: 0.4s;


}
nav ul li:hover ul{
	height: 150px;
	width: 200px;
	background: red;
	position: absolute;
	transition: 0.4s;

}
nav ul li ul li ul{
	background: red;
	position: absolute;
	width: 200px;
	overflow: hidden;
	transition: 0.4s;
}
nav ul li:hover ul li ul{
	width: 200px;
	background: red;
	position: absolute;
	transition: 0.4s;
}

.background-img{
	background-image: url(background.JPG);
	background-size: width 100% height 300px;
	width: 100%;
	height: 170px;
	float: left;
	padding-top: 100px;
	overflow: hidden;

}
.background-img h1{
	margin: 0px;
    padding: 20px 50px 0px 80px;
    text-align: center;
    color: yellow;
    font-size: 60px;
    font-weight: normal;
    text-decoration: none;
}

.introduce{
	float: left;
	width: 100%;
	height: 50px;
	padding-left: 0px;
	background-color: #3d84f5;
	margin-left: 0;
	overflow-x: hidden;
	text-align: center;

}
.introduce p{
	font-size: 20px;
	padding-top: 15px;
	font-weight: bold;
}


.bottom div{
	width: 24%;
	margin-bottom: 5px;
	padding: 15px;
	box-sizing: border-box;
	margin-top: 20px;
	display: inline-block;
}
.bottom p{
	text-align: center;
	padding-top: 10px;
	
}
.bottom p a:link{
	text-decoration: none;
}
.bottom p a:hover{
	color: red;
	text-decoration: underline;
}

.bottom .box-1{
	float: left;
	width: 200px;
	height: 250px;
	background: none;
	margin: 30px;
	overflow: hidden;
	border: 0px;
	padding: 0px;

}
.bottom .box-2{
	float: left;
	margin-left: 15px;
	float: left;
	width: 200px;
	height: 250px;
	margin: 32px;
	overflow: hidden;
	border: 0px;
	padding: 0px;
}
.bottom .box-3{
	float: left;
	margin-left: 15px;
	float: left;
	width: 200px;
	height: 250px;
	border: 0px;
	margin: 32px;
	overflow: hidden;
	padding: 0px;
}
.bottom .box-4{
	float: left;
	width: 200px;
	height: 250px;
	border: 0px;
	margin: 32px;
	overflow: hidden;
	padding: 0px;
}
.bottom .box-4{
	float: left;
	width: 200px;
	height: 250px;
	border: 0px;
	margin: 32px;
	overflow: hidden;
	padding: 0px;
}
